@import './assets/scss/reset';

@import './assets/scss/header';
@import './assets/scss/banner';
@import './assets/scss/menu';
@import './assets/scss/figureSection';
@import './assets/scss/sobre';
@import './assets/scss/footer';

@media (max-width: 768px) {

  .banner {
    flex-direction: column-reverse;
    text-align: center;

    img {
      width: 100%;
    }
  }

  #menu {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5rem;
    width: 80%;
    margin: 0 auto;
  }

  #sobre {
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 2rem;

    img {
      width: 100%;
      height: auto;
    }

    .tipograpy {
      width: 80%;
      text-align: center;
    }
  }

  #contato {
    display: flex;
    flex-direction: column;
    height: 25vh;

    .social-icons {
      width: 100%;
      justify-content: space-evenly;
    }

    .adress {
      width: 100%;
      text-align: center;
    }
  }
}