@import './assets/scss/reset';

@import './assets/scss/header';
@import './assets/scss/banner';

@import './assets/scss/menu';
@import './assets/scss/figureSection';

@import './assets/scss/sobre';

@import './assets/scss/footer';

@media (max-width: 768px) {

  .menu-navegation {
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 2rem;

    h1 {
      font-size: 2rem;
    }

    a {
      font-size: 1rem;
    }
  }

  .banner {
    flex-direction: column-reverse;

    img {
      width: 100%;
    }
  }

  #menu {
    grid-template-columns: 1fr;
    grid-gap: 5rem;
    height: 100%;
    width: 80%;
  }

  #sobre {
    flex-direction: column;
    height: 100%;
    gap: 2rem;
    padding-bottom: 5rem;

    img {
      width: 100%;
      height: 100%;
    }

    .tipograpy {
      width: 100%;
    }
  }

  #contato {
    gap: 2rem;
    height: 100%;
    padding: 2rem;
    flex-direction: column;

    .social-icons {
      width: 100%;
    }

    .adress {
      text-align: center;
    }
  }
}