@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Lobster Two", cursive;
  color: "Lobster Two", cursive;
  font-size: 2.5rem;
  color: #ec3c21;
}

h2,
h3,
p {
  font-family: "Roboto", sans-serif;
  color: #333;
}

span {
  color: #ec3c21;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Lobster Two", cursive;
  color: "Lobster Two", cursive;
  font-size: 2.5rem;
  color: #ec3c21;
}

h2,
h3,
p {
  font-family: "Roboto", sans-serif;
  color: #333;
}

span {
  color: #ec3c21;
}

header {
  display: flex;
  flex-direction: column;
}

.menu-navegation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #FFC857;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

li {
  list-style: none;
}
li a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: #333;
  font-weight: 700;
  font-size: 1.2rem;
  text-transform: uppercase;
}
li a:hover {
  color: #ec3c21;
}

.btn {
  background-color: #ec3c21;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
}
.btn:hover {
  background-color: #c92a11;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Lobster Two", cursive;
  color: "Lobster Two", cursive;
  font-size: 2.5rem;
  color: #ec3c21;
}

h2,
h3,
p {
  font-family: "Roboto", sans-serif;
  color: #333;
}

span {
  color: #ec3c21;
}

.banner {
  height: 90vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #FFC857;
}

.slogam {
  text-align: center;
}

img {
  width: 50%;
}

p {
  margin: 1vh 0;
}

.btn-red {
  background-color: #ec3c21;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
  color: #FFC857;
}
.btn-red:hover {
  background-color: #c92a11;
}

.btn-outline {
  background-color: transparent;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 2px solid #ec3c21;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
  color: #ec3c21;
  margin-left: 2rem;
}
.btn-outline:hover {
  background-color: #ec3c21;
  color: #FFC857;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Lobster Two", cursive;
  color: "Lobster Two", cursive;
  font-size: 2.5rem;
  color: #ec3c21;
}

h2,
h3,
p {
  font-family: "Roboto", sans-serif;
  color: #333;
}

span {
  color: #ec3c21;
}

main {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
main h2 {
  margin: 2rem 0;
}

#menu {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  height: 50%;
  width: 70%;
}

figure {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 40vh;
}
figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

figcaption {
  font-size: 1.2rem;
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Lobster Two", cursive;
  color: "Lobster Two", cursive;
  font-size: 2.5rem;
  color: #ec3c21;
}

h2,
h3,
p {
  font-family: "Roboto", sans-serif;
  color: #333;
}

span {
  color: #ec3c21;
}

#sobre {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  margin-top: 15vh;
  height: 80vh;
  background-color: #FFC857;
}
#sobre img {
  width: 30%;
  height: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.tipograpy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Lobster Two", cursive;
  color: "Lobster Two", cursive;
  font-size: 2.5rem;
  color: #ec3c21;
}

h2,
h3,
p {
  font-family: "Roboto", sans-serif;
  color: #333;
}

span {
  color: #ec3c21;
}

#contato {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20vh;
  background-color: #333;
}

.social-icons {
  display: flex;
  justify-content: space-around;
  width: 20%;
}
.social-icons a {
  color: #fff;
  font-size: 2rem;
  text-decoration: none;
}
.social-icons a:hover {
  color: #f00;
}

.adress {
  text-align: center;
}
.adress p {
  color: #fff;
}

@media (max-width: 768px) {
  .menu-navegation {
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 2rem;
  }
  .menu-navegation h1 {
    font-size: 2rem;
  }
  .menu-navegation a {
    font-size: 1rem;
  }
  .banner {
    flex-direction: column-reverse;
  }
  .banner img {
    width: 100%;
  }
  #menu {
    grid-template-columns: 1fr;
    grid-gap: 5rem;
    height: 100%;
    width: 80%;
  }
  #sobre {
    flex-direction: column;
    height: 100%;
    gap: 2rem;
    padding-bottom: 5rem;
  }
  #sobre img {
    width: 100%;
    height: 100%;
  }
  #sobre .tipograpy {
    width: 100%;
  }
  #contato {
    gap: 2rem;
    height: 100%;
    padding: 2rem;
    flex-direction: column;
  }
  #contato .social-icons {
    width: 100%;
  }
  #contato .adress {
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */