@import 'reset';

header {
  display: flex;
  flex-direction: column;
}

.menu-navegation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: $primary-color;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

li {
  list-style: none;

  a {
    text-decoration: none;
    font-family: $font-body;
    color: $tertiary-color;
    font-weight: 700;
    font-size: 1.2rem;
    text-transform: uppercase;
  }

  a:hover {
    color: $text-color;
  }
}

.btn {
  background-color: $text-color;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  font-family: $font-body;
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;

  &:hover {
    background-color: darken($text-color, 10%);
  }
}